[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
dash-renderer = "*"
dash-html-components = "*"
dash-core-components = "*"
plotly = "*"
pandas = "*"
dash-table-experiments = "*"
sqlalchemy = "*"
"psycopg2" = "*"
gunicorn = "*"
dash-auth = "*"

[dev-packages]
"flake8" = "*"

[requires]
python_version = "3.6"
